*{
    background-color: #f8f8f8;
}

li{
    list-style: none;
}
li > a{
    margin: 15px;
}

header{
    display: flex;
    justify-content: space-evenly;
}

header img{
    width: 10%;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    text-transform: uppercase;
}

.menu a{
    margin:15px;
    color: #2f353b;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}
.menu a:hover{
    text-decoration: line-through;
    transition: 0.6s;
    color:gray;
}

.catalog{
    text-align: center;
}
.catalog p{
    color: gray;
    text-decoration: darkslategray;
    font-size: 1em;
    font-variant: all-small-caps;
}
.copy{
    text-align: center;
}

ymaps{
    background-color: #00000000;
}

input{
    border:1px solid black;
    width: 300px;
    height: 25px;
    text-align: center;
    border-radius: 2rem;
    text-transform: capitalize;
}
input:focus{
    outline-color: #00000000;
}

.chekBox{
    width: 3vh;
    cursor: pointer;
}
button{
    width: 145px;
    height: 25px;
    border-radius: 2rem;
    font-variant: all-small-caps;
    border: 1px solid black;
    cursor: pointer;
}
button:focus{
    outline-color: #00000000;
}
input[type="email"]:focus {
    color:whitesmoke;
    background: #2f353b;
}
content h1, h4{
    text-align: center;
}
.catalogTable{
    width: 100%;
    border-collapse: collapse;

}
.catalogTable td{
    vertical-align: middle;
    text-align: center;
    border: 1px solid #000;
    text-transform: capitalize;
}
.catalogImg{
    outline: 2px solid brown;
    width: 35%;
}
.catalogImg:hover{ 
    outline: none;
}
.catalogTable tr:first-child{
    height: 50px !important;
}